#slides {
	height: 100%;
	width: 100%;

	* {
		horizontal-align: center;
		text-align: center;
	}

	Label {
		padding: 14;
		font-size: 28;
		color: $black;
	}
}

ActionBar {
	background-color: $primary;
	color: $white;
}
