.slide-indicator-inactive {
	background-color: $black;
	opacity: 0.4;
	width: 10;
	height: 10;
	margin-left: 2.5;
	margin-right: 2.5;
	margin-top: 0;
	border-radius: 5;
}

.slide-indicator-active {
	background-color: $primaryDark;
	opacity: 0.9;
	width: 10;
	height: 10;
	margin-left: 2.5;
	margin-right: 2.5;
	margin-top: 0;
	border-radius: 5;
}
